# The TypeSafe key is a Worker secret, not a Vite variable.
# Copy .dev.vars.example to .dev.vars and set TYPESAFE_API_KEY there.
# On the deployed Worker: npx wrangler secret put TYPESAFE_API_KEY --name jev-primitives
# Until that secret exists, Jev POSTs return 503 and the UI shows that message.
# Optional UI license, read by Vite at build time: .env.local
#   VITE_TLDRAW_LICENSE_KEY=...
